<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Campus management system</title>
  </head>
  <body>

    <div class="faculty-page">

      <app-faculty-nav></app-faculty-nav>

      <div class="faculty-home">
        <span>
          <h3>Timetable</h3>
          <select class="form-select"  (change)="semesterChanged($event)" >
            <option value="semester 1">Semester 1</option>
            <option value="semester 2">Semester 2</option>
            <option value="semester 3">Semester 3</option>
            <option value="semester 4">Semester 4</option>
            <option value="semester 5">Semester 5</option>
            <option value="semester 6">Semester 6</option>
            <option value="semester 7">Semester 7</option>
            <option value="semester 8">Semester 8</option>
          </select>
        </span>

        <hr>

        <div class="faculty-timetable" *ngIf="displayTimetable">
          <img src={{displayTimetable.timetableUrl}} alt="">
        </div>

      </div>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>